/* v1.0 | 20080212 */
/* http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{font-size:62.5%;font-family:'Helvetica','Arial';background:url('/static/bg-clouds.png') top left repeat-x rgb(192,222,237);}
p{font-size:1.2em;}
#header{width:760px;margin:0 auto;overflow:hidden;padding:5px 0 0 0;}
#nav{float:right;width:200px;background:#FFF;-webkit-border-radius:5px;line-height:1.3em;font-size:1.3em;padding:5px;}
a{color:#16387C;text-decoration:none;}
a:hover{text-decoration:underline;}
#container{width:760px;margin:20px auto;background:rgba(255,255,255,1);-webkit-border-radius:5px;}
.timeline #container,.mentions #container{overflow:hidden}
#main,#side{float:left;min-height:500px;}
#main{width:540px;padding:20px 10px 0 10px;background:rgba(255,255,255,1)}
#side{width:199px;background:rgb(221,238,250);border-left:1px solid rgb(155,179,203);-webkit-border-top-right-radius:5px}
.timeline form{width:100%;}
textarea{width:98%;height:40px;border:1px solid #eee;}
.tweets p{border-bottom:1px solid #eee;overflow:hidden;margin:0 0 10px 0;font-size:1.4em;color:#151515;}
.tweets p img{float:left;width:48px;height:48px;margin:0 5px 5px 0;}
.tweets p strong a{color: #16387C;text-decoration:none;}
.tweets p span{display:block;color:#d4d4d4;font-size:0.8em;}
.tweets p span a {color:#d4d4d4;text-decoration:none;}
fieldset{border:0;overflow:hidden;width:100%;padding:2px 0 15px 0;}
fieldset p{float:left;width:80%;color:#d4d4d4;}
fieldset input{float:right;width:18%;-webkit-border-radius:5px;border:1px solid #d4d4d4;background:#efefef; color:#888;font-size:1.4em;margin:0 5px 0 0;}
fieldset input:focus{border:1px solid #888;color:#555;background:#d4d4d4;}
h1{font-size:1.6em;padding: 0 0 5px 0;font-weight:normal;}
p.bio img{float:left;margin:0 5px 5px 5px;}
p.bio {font-size:1.4em;padding:5px 0;}
p.bio span a {display:block;font-size:0.8em;text-decoration:none;}
p.bio span a:hover{text-decoration:underline;}
ul.follow li{font-size:1.2em;}
ul.follow li a{display:block;padding:5px;text-decoration:none;clear:right;color: #16387C;}
ul.follow li a:hover{background:rgba(255,255,255,0.5);}
ul.follow li a span{float:right;font-weight:bold;}

#login,#signup{margin:0 auto;width:250px;padding:20px;background:#FFF;float:left;}

.single .tweets p {background:#FFF;-webkit-border-radius:5px;padding:10px;}
.follow-user,.unfollow-user{background:#eee;padding:5px;margin:0 0 10px 0;-webkit-border-radius:5px;text-align:center;}